body
		{
			background-color: #FFEBCD;
			font-family: sans-serif;
		}
		h1
		{
			color: 	#2F4F4F;
		}
		p
		{
			color: 	#2F4F4F;
		}

		#text
		{
			font-size: 20px;
			text-decoration: bold;
		}
		#shape
		{
			width:  200px;
			height: 200px;
			background-color:  red;
			display: none;
			position: relative;
		}